:root {
  --about-avatar-svg: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2000 2000" fill="%2300adb5"><path d="M1891 560c0-277-224-509-501-499-372 13-397 281-504 302s-215-179-511-75a459 459 0 0 0-222 218C10 809 262 886 259 992s-201 171-82 395c34 64 99 127 212 141 56 6 103 47 115 102a377 377 0 0 0 383 310c222 2 528-202 380-536-42-97 30-123 73-194s-11-120 128-156c233-61 423-246 423-494Z"></path></svg>');
}

.about__container {
  background-color: var(--color-gray);
  height: 100vh;
}

.about {
  background-image: var(--about-bg-svg);
  max-width: var(--size-max-width);

  margin: 0 auto;
  color: var(--color-dark-white);
  text-align: center;
  overflow: hidden;
  padding: 10rem 1rem;
  display: flex;
  align-items: center;
}

.about__avatar {
  background-image: var(--about-avatar-svg);
  position: relative;
  bottom: -2rem;
  margin-right: 2rem;
  width: 36em;
  height: 36em;
  object-fit: cover;
  transform: rotate(5deg);
}

.about__text__box {
  padding-top: 3rem;
}

.about__title {
  font-size: 3.6rem;
  margin-bottom: 1.2em;
}

.about__title--strong {
  color: var(--color-green);
}

.about__description {
  font-size: 1.4rem;
  line-height: 1.8;
}
