/* Contact */
.contact__container {
  background-color: var(--color-black);
}

.contact {
  color: var(--color-white);
  max-width: var(--size-max-width);
  margin: 0 auto;
  text-align: center;
  padding: 5rem 0;
}

.contact__title {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.contact__description {
  font-size: 2rem;
}

.contact__links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  font-size: 3rem;
}

.contact__link {
  transition: color 250ms ease-in;
}

.contact__link:hover {
  color: var(--color-green);
}
