.projects__container {
  background-color: var(--color-gray);
  height: 100vh;
}

.project {
  width: 100%;
  margin: 0 auto;
  padding-top: 85px;
  max-width: var(--size-max-width);
  height: calc(100vh - 85px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project__img {
  width: 393px;
  height: auto;
}

.project__description {
  width: 500px;
  color: var(--color-white);
  height: 700px;
  word-break: keep-all;
}

.project__description h2 {
  font-size: 3rem;
}

.project__description p:first-of-type {
  font-size: 1.5rem;
  margin: 0;
}

.project__description p {
  font-size: 1.4rem;
  margin: 1.2rem 0;
  text-align: center;
  line-height: 2;
}

.project__button__box {
  display: flex;
  justify-content: center;
}

.project__button {
  display: block;
  padding: 1rem;
  margin: 0 1.2rem;
  font-size: 1.2em;
  background-color: var(--color-white);
  color: var(--color-black);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.2s ease;
}

.project__button:hover {
  background-color: var(--color-black);
  color: var(--color-green);
}

.project__button:first-of-type {
  border: 2px solid var(--color-black);
  animation: blinkColor 2.5s infinite;
}

@keyframes blinkColor {
  0% {
    border-color: var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
  }
  50% {
    border-color: var(--color-white);
    background-color: var(--color-black);
    color: var(--color-green);
  }
  100% {
    border-color: var(--color-black);
    background-color: var(--color-white);
    color: var(--color-black);
  }
}
