.skills__container {
  background-color: var(--color-black);
  height: 100vh;
}

.skills {
  margin: 0 auto;
  padding-top: 85px;
  max-width: var(--size-max-width);
  height: calc(100vh - 85px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.skill {
  width: 22%;
  height: 50%;
  position: relative;
  background-color: var(--color-white);
  border: 5px solid var(--color-green);
  border-radius: 0.8rem;
}

.skill__title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -1rem;
  top: -3rem;
  padding: 0.5rem 2rem;
  border: 3px solid var(--color-white);
  color: var(--color-green);
  background-color: var(--color-gray);
  font-size: 2rem;
  transform: rotate(-5deg);
  transition: all 0.2s ease-in-out;
}

.skill:hover .skill__title {
  transform: scale(0.99) translate(1px, -2px);
}

.skill__description {
  padding-top: 2rem;
  padding-left: 2rem;
  word-break: keep-all;
}

.skill__description li {
  list-style-type: square;
  text-align: left;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.skill__description p:last-of-type {
  margin-bottom: 0;
}
