:root {
  --color-black: #222831;
  --color-gray: #393e46;
  --color-green: #00adb5;
  --color-dark-white: #eeeeee;
  --color-white: #ffffff;

  --size-max-width: 1400px;
  --border-radius: 4px;
}

@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

body * {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}

body {
  font-family: 'NEXON Lv2 Gothic', sans-serif;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-dark-white);
}
