:root {
  --color-black: #222831;
  --color-gray: #393e46;
  --color-green: #00adb5;
  --color-dark-white: #eeeeee;
  --color-white: #ffffff;

  --size-max-width: 1400px;
  --border-radius: 4px;
}

body * {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: var(--color-dark-white);
}

.container {
  width: 100%;
}
